.landing{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 150px;
  gap: 5em;
  background: 
    linear-gradient(rgba(1, 26, 2, 0.5), rgba(13, 34, 16, 0.5)),
    url("https://images.ctfassets.net/2lppn7hwgzta/2ncuNVJpALNStOsjUZS1pC/f120ae60482fe76a240f3293ae558939/S5_Launch_4x5_1x1.webp");
}

.watchList img{
  max-width: 100px;
  height: auto;
}

.watchList ul{
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(20px);
  margin-top: 10px;
  padding-top: 0;
  gap: 2.5em;
  padding-top: 50px;
  border-radius: 20px;
  height: 600px;
}

.watch-element{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3em;
  width: 200px;
}