.ranking-section{
  position: relative;
  top: -50px;
  margin-top: 120px;
}

.ranking{
  display: flex;
  flex-wrap: wrap;
  padding-right: 40px;
  background-color: rgb(3, 31, 21);
  border-radius: 1%;
  box-shadow: 3px 5px 5px #80ffd4;
  max-width: 1070px;
}

.ranking-section h1{
  color: rgb(214, 214, 214);
  font-family: edosz;
}

.ranking img{
  width: 50px;
  height: auto;
}

.ranking ol{
  display: flex;
  flex-direction: row;
  background-color: rgb(3, 31, 21);
}

.ranking ol li{
  list-style-type: none;
  margin-left: 10px;
  background-color: rgb(7, 80, 55);
  border-radius: 1%;
}

.inside{
  position: relative;
  right: 25px;
}

.columnas{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.regatas{
  display: flex;
  flex-direction: row;
  width: 200px;
  overflow-x: scroll;
}



.value {
  align-content: center;
  justify-content: center;
  height: 40px;
  width: 100px;
}

#regatas{
  display: flex;
  flex-direction: column;
  margin-left: -30px;
  position: relative;
  bottom: 2px;
  background-color: rgb(18, 104, 74);
}

#regatas li{
  position: relative;
  right: 20px;
}

.prob-column{
  display: flex;
  position: absolute;
  left: 1px;
  z-index: 100;
}

.prob-column ul{
  height: 200px;
  overflow-y: scroll;
}


.prob-column li{
  position: relative;
  right: 25px;
}

#cuotas{
  background-color: black;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px #15ff0094;
}