.team-div{
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
  color: black;
}

.team-div li{
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.team-div li *{
  width: 100px;
}

.column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}